html {
  scroll-snap-type: y mandatory; //scroll follow container
  scroll-behavior: smooth; //animation will be a little bit slower and smoother
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit; //take the color from the parent
}

section {
  height: 100vh; //all sections full page
  scroll-snap-align: center;
}

.example {
  margin: 50px;
}

.y-gap {
  padding-top: 10px;
  padding-bottom: 20px;
}

.section-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.progress-bar {
  position: fixed;
  top: 20;
  left: 0;
  right: 0;
  height: 10px;
  background-color: lightgreen;
  transform-origin: 0%;
}
